// colors

accent-color = #060C3A
main-color = #8C8E9E
text-color = #212121

// sizes

breakpoint-xl = 1200px
breakpoint-lg = 1024px
breakpoint-md = 834px
breakpoint-sm = 480px
breakpoint-ssm = 360px

// fonts

font-roboto = 'Roboto', Arial, sans-serif
font-rouble = 'rouble', sans-serif